.shopcategory-banner{
    display: block;
    margin: 70px auto;
    width: 80%;
}

.shopcategory-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}

.shopcategory-indexSort p span{
    font-weight: 600;
}

.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}

.shopcategory-products{
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}

.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
}


/* Responsif untuk tablet (max-width: 1024px) */
@media (max-width: 1024px) {
    
}



/* Responsif untuk layar sangat kecil (max-width: 480px) */
@media (max-width: 480px) {
    .shopcategory-banner {
        width: 1270px; /* Lebar banner diatur ulang untuk layar kecil */
        padding: 0 60px;
    }

    .shopcategory-indexSort {
        margin: 0px 10px;
        align-items: center;
    }

    .shopcategory-products {
        margin: 20px 160px;
        grid-template-columns: repeat(4 1fr); /* Grid 1 kolom untuk layar kecil */
        gap: 10px;
    }

    .shopcategory-loadmore {
        width: 550px; /* Ukuran tombol lebih kecil */
        height: 50px;
        font-size: 14px; /* Font size lebih kecil */
    }
} 