.breadcrum{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 600;
    margin: 100px 170px;
    text-transform: capitalize;
    height: 16px;
}
.breadcrum img{
    width: 10px;
    height: 16px;
}


@media (max-width: 480px) {
    .breadcrum {
        margin: 100px; /* Margin minimal untuk perangkat kecil */
        font-size: 15px; /* Ukuran font minimal */
        gap: 2px; /* Jarak antar elemen sangat kecil */
        padding: 30px;
        width: 80vh;
    }

    .breadcrum img {
        width: 5px; /* Lebar ikon minimal */
        height: 10px; /* Tinggi ikon minimal */
    }
}