.hero {
    margin: 0;
    padding: 0;
    height: 100vh; /* Tetap tinggi 100vh, atau bisa diubah sesuai kebutuhan */
    width: 100%; /* Lebar 120% dari viewport, sehingga elemen meluas keluar */
    display: flex;
    align-items: center;
    justify-content: center; /* Untuk menyejajarkan konten */
    overflow: hidden; /* Menghindari tampilan keluar dari area */
    position: relative;
    padding: 100px;
    
}

.hero img {
    top: 20%;
    width: 100%; /* Gambar mengisi seluruh elemen hero */
    height: 100%; /* Menjaga proporsi gambar */
    object-fit: cover; /* Gambar menutupi area tanpa merusak proporsi */
    object-position: center; /* Gambar tetap terpusat */
}

@media (max-width: 768px) {
    .hero {
        padding: 350px; /* Menyesuaikan padding pada perangkat lebih kecil */
    }
    .hero img {
        object-fit: cover; /* Pastikan gambar tetap mengisi penuh */
        width: 1200px;
        top: 20%;
    }
}
.hero-tagline {
    position: absolute;
    left: 70px;
    top: 20%;
    transform: translateY(-50%);
    color: white;
}

.hero-tagline h2 {
    color: white;
    font-size: 50px;
}

.hero-words {
    display: flex;
    flex-direction: column;
    margin: 0;
    line-height: 1.2;
    font-size: 40px;
}